/* canvas {
    margin-left: ;
} */

body {
    background-color: #020103;
    font-family: "DelaGothic", sans-serif;
}

h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

#container {
    margin-top: 100px;
    margin-left: 200px;
}

.harder {
    margin-top: 2px;
}

#sliders {
    font-size: 16px;
}

#slider-lines {
    background-color: #020103;
}

#slider-ratio {
    background-color: #020103;
}

.ui-slider {
    position: relative;
	width: 1000px;
    border: 2px solid #fff !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-radius: 25px;
    outline: none;
    border: 10px solid #fff;
    position: absolute;
    top: -10px;
}
.ui-slider-horizontal .ui-slider-range {
    background: #e9ecf1
}